<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular</title>
</head>
{% csrf_token %}
<nav>
    <ul class="pagination">
        {% for p in paginator.page_range %}
            {% if p == page.number %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
        <a href="{{ paginator.baseurl }}{{ p }}">
            {{ p }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
<body>
    {% for question in questions %}
        <h2>{{ question.title }}</h2>
        <a href="/question/{{ question.id }}" >Link</a>
        <br>
    {% endfor %}
</body>
</html>